html,
body {
  margin: 0;
}

.div {
  background: rgba(0, 0, 0, 0.75);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.beautify {
  color: white;
  font-size: 48px;
  font-weight: bold;
  font-family: monospace;
}
