html,
body {
  margin: 0;
}

.block {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
}

.item1 {
  color: rgba(255, 255, 255, 0.75);
  font-size: medium;
  margin-top: 8px;
  margin-bottom: 2px;
  padding: 2px;
  padding-top: 8px;
  padding-bottom: 2px;
}

.item2 {
  color: #8ab4f8;
  font-size: 21px;
  padding: 4px;
}

.item3 {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 2px;
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 4px;
}
