html,
body {
  margin: 0;
}

.div {
  /*background: tomato;*/
  /*background: linear-gradient(gold, silver, green);*/

  /*background: url("https://picsum.photos/700");*/
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url("https://picsum.photos/700");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
}
